@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: rgb(29, 29, 29);
    position: absolute;
}

.banner{
    /* border: 1px solid palegreen; */
    width: 70%;
    height: 700px;
    margin: auto;
    color: aliceblue;
    font-family:'Roboto', sans-serif;
}

.navbar{
    background-color: #fa5353;
    text-align: center;
    padding: 4px 0px;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    font-family:'Roboto', sans-serif;
    position: sticky;
    top: 0px;
}

.course{
    color: rgb(197, 129, 3);
    text-align: center;
    font-weight: 400;
}

.course2{
    color: rgb(197, 129, 3);
    font-weight: 300;
}

.photo > img{
    height: 18rem;
    border-radius: 8px;
}

.photo{
    text-align: center;
    /* border: 2px solid wheat; */
}

p{
    line-height: 1.5;
}